@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki&display=swap');


.App {
  text-align: center;
  color: #a1b7e4;
  background-color: #a1b7e4 ;
  font-family: 'Noto Serif Khojki', serif;
  font-size: 20px;
  margin-bottom: 10px;
  /* display: flex; */
}

.App-header {
  background-color: #a1b7e4;
  color: white;
}

.App-link {
  color: #61dafb;
}

.substringForm {
  text-align: left;
  margin-left: 50px;
  font-size: 25px;
  font-family: 'Noto Serif Khojki', serif;
  font-weight:700;
}

.substrings {
  text-align: left;
  margin-left: 70px;
  margin-top: 0px;
  margin-bottom: 0px; 
  font-size: 9px;
  display: flex;
}

.substringText {
  margin-top: 0px;
  margin-bottom: 0px; 
}

.flex {
  display: flex;
}

.mainstring {
  flex: 1;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.uniqueWarning {
  text-align: left;
  margin-left: 110px;
}

.emptyWarning {
  text-align: left;
  margin-left: 110px;
}

.mainInputArea {
  flex: 2;
}

.mainInput {
  flex: 2;
  font-size: 24px;
  text-align: left;
  margin-left: 620px;
  margin-top: 0px;
}

.substringsText {
  flex: 1;
}

.visualizeButton {
  margin-top: 0px;
  font-size: 20px;
  padding: 10px 24px;
  margin-bottom: 0px;
  background-color: #008CBA;
  border: 2px solid #008CBA;
}

.mainstringEmpty {
  margin-left: 300px;
}

.emptySub {
  text-align: left;
  margin-left: 110px;
}

svg {
  margin-left: 100px;
  overflow: visible;
  display: block;
  width: 100%;
  margin-top: 0px;
}

.svgDiv {
  padding-bottom: 1000px;
}

.legend {
  font-size: 20px;
  margin-top: 0px;
  color: #008CBA;
  margin-bottom: 0px;
}

.foundWordDisplay {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.colorWord {
  padding: 0px 0px;
  font-size: 40px;
  margin: 0px;
}

.span {
  padding: 0px;
  margin: 0px;
}
