@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki&display=swap');


.App {
  text-align: center;
  color: #a1b7e4;
  background-color: #a1b7e4 ;
  font-family: 'Noto Serif Khojki', serif;
  font-size: 20px;
  margin-bottom: 10px;
  /* display: flex; */
}

.App-header {
  background-color: #a1b7e4;
  color: white;
}

.App-link {
  color: #61dafb;
}

.substringForm {
  text-align: left;
  margin-left: 20px;
  font-size: 22px;
  font-family: 'Noto Serif Khojki', serif;
  font-weight:700;
}

.substrings {
  text-align: left;
  margin-left: 70px;
  margin-top: 0px;
  margin-bottom: 0px; 
  font-size: 9px;
}

.substringText {
  margin-top: 0px;
  margin-bottom: 0px; 
}

.flex {
  display: flex;
}

.mainstring {
  flex: 1;
}